.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1, h2, h3 {
    width: 100%;
    color: white;
}
.green-text {
    color: green;
}
body.night-mode {
    background-color: black;
}
body.day-mode {
    background-color: white;
}
